
<h1>app.component.html</h1>
<app-address-card appComponentname = "FROM App.component.html" [user]="user"></app-address-card>
InputTextfrom AppComponentHTML --> <input type="text" [value]="inputText"> {{inputText}}
InputTextfrom AppComponentHTML using ngModel --> <input type="text" [(ngModel)] = "inputText"> {{inputText}}
<h1><app-hello-world></app-hello-world></h1>
<date></date>

<p class="title">TEST PARAGRAPH APP COMPONENT HTML</p>

// This is a new app-view-component that we created usign view module
// So it wont work app-view-component untill we add it to module
<app-view-component></app-view-component>

<!-- Angular CLI created this  -->
Angular CLI created this "router-outlet"
This is responsible only for SETTINGS component 
for the profile OR contact child components you mention it in setting and profile HTML pages
<router-outlet>
  
</router-outlet>

<div>
  <b>THIS LOADS WHOLE PAGE BROWSER TAKES THE RESPONSIBILITY</b>
  <p>HOME PAGE <a href="/home">BROSWER_HOME</a></p> 
  <p>SETTINGS PAGE <a href="/settings">BROSWER_SETTINGS</a></p>
</div>

<div>
    <b>THIS IS HANDLED BY ANGULAR routerLink directive </b>
    <p>HOME PAGE<a routerLink="/home">ANGULAR_HOME</a></p>
    <p>SETTINGS PAGE<a routerLink="/settings">ANGULAR_SETTINGS</a></p>
</div>

<div>
    <b> Other way is using ANGULAR [] look up  </b>
    <p>HOME PAGE<a [routerLink]="homeRoute">ANGULAR_HOME</a></p>
    <p>SETTINGS PAGE<a [routerLink]="settingsRoute">ANGULAR_SETTINGS</a></p>
</div>

<div>
    <b> We are dynamically using rotes[] created in the class </b>
    <p *ngFor="let routeTo of routes">
      <a [routerLink]="routeTo.url">{{routeTo.linkName}}</a>
    </p>
    <br> 
</div>

    <h4>To put these in one single a reference</h4> 
    <a *ngFor = "let route of routes" [routerLink]="route.url">{{route.linkName}}</a>



<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }} !!! Rahul Kadgekar!!!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->
